.jumbotron{
  text-align:center;
  background-color: rgb(68, 124, 87);
  box-shadow: 2px 2px  2px 2px grey; 
}
  
#tinies{
  font-size: 25; 
}


#qtn{

  font-style: italic;
  font-weight: bold;
  font-size:20;
  
}

.well{
  width:auto;

}

.page-header{
  position: static;
}
#output{
  background-color:rgb(68, 124, 87);  
  padding: 10px;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  color: white;
  font-size: 25px;
  border-radius: 4px;
  box-shadow: 2px 2px  2px 2px grey;
  margin-bottom: 10px;


}
body{
  background-color:rgb(151, 150, 151);
}
.jumbotron h1,h3{
  color:white;
}
label{
  font-weight: 150;
  font-size:18px;
}
footer{
  text-align:center;
  font-size: 18px;
  font-weight: 250px;
  color:whitesmoke;

}
