.jumbotron{
  text-align:center;
  background-color: rgb(86, 64, 107);
}
  
#tinies{
  font-size: 25; 
}


#qtn{

  font-style: italic;
  font-weight: bold;
  font-size:20;
  
}

.well{
  width:auto;

}

.page-header{
  position: static;
}
#output{
  background-color:rgb(86, 64, 107);  
  padding: 10px;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  color: white;
  font-size: 25px;
  border-radius: 4px;
  box-shadow: 2px 2px  2px 2px grey;
  margin-bottom: 10px;


}
body{
  background-color:rgb(191, 186, 196);
}
.jumbotron h1,h3{
  color:white;
}
label{
  font-weight: 150;
  font-size:18px;
}
